# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/411-group-project.iml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml


when2eat/
when2eat/config.py
db.sqlite3
